/* fondo */
body {
    background-color: #f0e3e3;
  }


/* barra nav */
.navbar {
    background-color: #433751;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(211, 249, 245);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #433751;
    color: rgb(238, 182, 221);
}

.letras{
    color:#748b9c;
}



/* efecto foto */
* {box-sizing: border-box;}

.imagecontainer {
  position: relative;
  width: 50%;
  max-width: 450px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: rgb(198, 229, 247);
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.imagecontainer:hover .overlay {
  opacity: 1;
}



/* unvisited*/
a:link {
    color: rgb(135, 110, 204);
  }
  
  /* visited*/
  a:visited {
    color: rgb(181, 135, 241);
  }
  
  /* mouse over*/
  a:hover {
    color: rgb(209, 72, 236);
  }
  
  /* selected*/
  a:active {
    color: rgb(139, 139, 250);
  }


/* contact */

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #6d307c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #613c6d;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }







  /*compu*/

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #662a61;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  
  .row {margin: 0 -5px;}
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(39, 3, 105, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  #cart-items > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: #f04dff;
    color: #722367;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #e639cf;
}

.toast {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(50, 50, 50, 0.9);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1000;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

#checkout {
  margin-left: 80%;
  position: fixed; 
  overflow-y: auto; 
  display: flex; 
  flex-direction: column;
  max-height: 700px;
}
 
